<!DOCTYPE html>
<html lang="uk">
<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Адмін-панель</title>
  <link rel="stylesheet" href="/static/style/admin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <header>
    <h1>Адмін-панель</h1>
    <div class="user-icon">
      <i class="fas fa-user-shield"></i>
      <span>Адміністратор</span>
      <a href="/logout" class="logout-button">Вийти</a>
    </div>
  </header>

  <nav class="nav-container">
    <ul class="nav-buttons">
      <li><a href="/admin" class="nav-button">Головна</a></li>
      <li><a href="/admin/products" class="nav-button">Товари</a></li>
      <li><a href="/admin/categories" class="nav-button">Категорії</a></li>
    </ul>
  </nav>

  <button id="openModalButton" class="add-product-button">Додати товар</button>

  <main>
    <div id="addProductModal" class="modal">
        <div class="modal-content">
          <span class="close-button" id="closeModalButton">&times;</span>
          <h2>Додати новий товар</h2>
          <form action="/add_product" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">Назва:</label>
              <input type="text" id="name" name="name" required>
            </div>

            <div class="form-group">
              <label for="price">Ціна:</label>
              <input type="number" id="price" name="price" required>
            </div>

            <div class="form-group">
              <label for="description">Опис:</label>
              <textarea id="description" name="description"></textarea>
            </div>

            <div class="form-group">
              <label for="main_image">Головне зображення:</label>
              <input type="file" id="main_image" name="main_image" accept="image/*" required>
              <div class="image-preview" id="mainImagePreview"></div>
            </div>

            <div class="form-group">
              <label for="images">Додаткові зображення:</label>
              <input type="file" id="images" name="images" accept="image/*" multiple>
              <div class="image-preview" id="additionalImagesPreview"></div>
            </div>

            <div class="form-group">
              <label for="category_id">Категорія:</label>
              <select id="category_id" name="category_id">
                {{#each categories}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
              </select>
            </div>

            <button type="submit">Додати товар</button>
          </form>
        </div>
    </div>
  </main>

  <script src="/static/js/admin.js"></script>
</body>
</html>
