body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    color: #1db954;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}

header {
    background-color: #1db954;
    color: white;
    padding: 1em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color: #282828;
    padding: 1em;
}

.nav-buttons {
    display: flex;
    gap: 1em;
}

.nav-button {
    background-color: #1db954;
    border: none;
    padding: 10px 20px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #1ed760;
}

.add-product-button {
    display: block;
    margin: 20px auto;
    background-color: #1db954;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-product-button:hover {
    background-color: #1ed760;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #282828;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.close-button {
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #121212;
    color: white;
}

button[type="submit"] {
    background-color: #1db954;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #1ed760;
}

