@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
        body {
            font-family: 'Titillium Web', serif;
            background-color: #121212;
            color: white;
            margin: 0;
            padding: 0;
        }

        h1 { color: black; font-family: 'Shadows Into Light', cursive; }
        
        header {
            background-color: #1DB954;
            color: white;
            padding: 1em;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;
            background-color: #282828;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .nav-buttons {
            display: none;
        }

        .nav-button {
            background-color: #1DB954;
            border: none;
            padding: 0.5em 1em;
            color: rgb(0, 0, 0);
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 8px;
            transition: background-color 0.3s;
            cursor: pointer;
        }

        .nav-button:hover {
            background-color: #1ed760;
        }

        .hamburger {
            display: block;
            cursor: pointer;
        }

        .hamburger div {
            width: 25px;
            height: 3px;
            background-color: #4ae480;
            margin: 4px 0;
            transition: 0.4s;
        }

        @media (min-width: 768px) {
            .nav-buttons {
                display: flex;
                gap: 1em;
            }
            .hamburger {
                display: none;
            }
        }

        main {
            padding: 2em;
        }

        .product-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 1.5em;
        }

        .product-item {
            background-color: #181818;
            margin-bottom: 1em;
            padding: 1em;
            border-radius: 12px;
            display: flex;
            align-items: center;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .product-item:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
        }

        .product-image {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 8px;
            margin-right: 1em;
            transition: transform 0.3s;
        }

        .product-item:hover .product-image {
            transform: scale(1.1);
        }

        .product-details {
            flex: 1;
        }

        .product-name {
            font-size: 1.2em;
            color: #1DB954;
            font-weight: 600;
            transition: color 0.3s;
        }

        .product-name:hover {
            color: #1ed760;
        }

        .product-price {
            font-size: 1.1em;
            color: #1DB954;
            font-weight: 500;
        }

        .product-description {
            margin-top: 0.5em;
            color: #b3b3b3;
        }

        .product-link {
            text-decoration: none;
            color: inherit;
        }
